[submodule "msp432-code"]
	path = msp432-code
	url = git@github.com:matteogastaldello/msp432-endpoint.git
[submodule "TinyCI-Dashboard"]
	path = TinyCI-Dashboard
	url = git@github.com:NatFederico/TinyCI-Dashboard.git
[submodule "TinyCI-HUB"]
	path = TinyCI-HUB
	url = git@github.com:matteogastaldello/TinyCI-HUB.git
[submodule "TinyCI-PCService"]
	path = TinyCI-PCService
	url = git@github.com:matteogastaldello/TinyCI-PCService.git
